@charset "utf-8";
/* CSS Document */

.wireframe-1,
.wireframe-1 * {
  box-sizing: border-box;
}
.wireframe-1 {
  background: #ffffff;
  width: 1440px;
  height: 6629px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: rgba(211, 95, 128, 0.3);
  width: 1440px;
  height: 112px;
  position: absolute;
  left: calc(50% - 720px);
  top: 0px;
}
.home {
  color: #000000;
  text-align: left;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: 409px;
  top: 54px;
}
.about-us {
  color: #000000;
  text-align: left;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: 509px;
  top: 54px;
}
.contact-us {
  color: #000000;
  text-align: left;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: 1077px;
  top: 54px;
}
.cakes {
  color: #000000;
  text-align: left;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: 658px;
  top: 54px;
}
.testimonial {
  color: #000000;
  text-align: left;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: 766px;
  top: 54px;
}
.rectangle-5 {
  background: #ffffff;
  width: 1200px;
  height: 760px;
  position: absolute;
  left: 120px;
  top: 1401px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.surprise {
  color: #000000;
  text-align: left;
  font: 700 32px "Poppins", sans-serif;
  position: absolute;
  left: 147px;
  top: 1411px;
}
.chocolate-cakes-web {
  border-radius: 5px;
  width: 260px;
  height: 260px;
  position: absolute;
  left: 128px;
  top: 1518px;
}
.black-forest-cakes-web-1 {
  border-radius: 5px;
  width: 260px;
  height: 260px;
  position: absolute;
  left: 434px;
  top: 1518px;
}
.butterscotch-cakes-web-2 {
  border-radius: 5px;
  width: 260px;
  height: 260px;
  position: absolute;
  left: 741px;
  top: 1518px;
}
.pineapple-cakes-web-3 {
  border-radius: 5px;
  width: 260px;
  height: 260px;
  position: absolute;
  left: 1046px;
  top: 1518px;
}
.truffle-cakes-web-4 {
  border-radius: 5px;
  width: 260px;
  height: 260px;
  position: absolute;
  left: 128px;
  top: 1849px;
}
.red-velvet-cakes-web-5 {
  border-radius: 5px;
  width: 260px;
  height: 260px;
  position: absolute;
  left: 434px;
  top: 1849px;
}
.fresh-fruit-cakes-web-6 {
  border-radius: 5px;
  width: 260px;
  height: 260px;
  position: absolute;
  left: 741px;
  top: 1849px;
}
.vanila-cakes-web-7 {
  border-radius: 5px;
  width: 260px;
  height: 260px;
  position: absolute;
  left: 1046px;
  top: 1849px;
}
.chocolate-cakes {
  color: #000000;
  text-align: left;
  font: 400 24px "Poppins", sans-serif;
  position: absolute;
  left: 155px;
  top: 1796px;
}
.black-forest-cakes {
  color: #000000;
  text-align: left;
  font: 400 24px "Poppins", sans-serif;
  position: absolute;
  left: 452px;
  top: 1796px;
}
.butterscotch-cakes {
  color: #000000;
  text-align: left;
  font: 400 24px "Poppins", sans-serif;
  position: absolute;
  left: 754px;
  top: 1796px;
}
.trending-cakes {
  color: #000000;
  text-align: left;
  font: 700 32px "Poppins", sans-serif;
  position: absolute;
  left: 130px;
  top: 2240px;
}
.pineapple-cakes {
  color: #000000;
  text-align: left;
  font: 400 24px "Poppins", sans-serif;
  position: absolute;
  left: 1076px;
  top: 1796px;
}
.truffle-cakes {
  color: #000000;
  text-align: left;
  font: 400 24px "Poppins", sans-serif;
  position: absolute;
  left: 180px;
  top: 2120px;
}
.red-velvet-cakes {
  color: #000000;
  text-align: left;
  font: 400 24px "Poppins", sans-serif;
  position: absolute;
  left: 460px;
  top: 2120px;
}
.fresh-fruit-cakes {
  color: #000000;
  text-align: left;
  font: 400 24px "Poppins", sans-serif;
  position: absolute;
  left: 769px;
  top: 2120px;
}
.vanilla-cakes {
  color: #000000;
  text-align: left;
  font: 400 24px "Poppins", sans-serif;
  position: absolute;
  left: 1095px;
  top: 2120px;
}
.about-us2 {
  color: #000000;
  text-align: left;
  font: 700 32px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 81px);
  top: 728px;
}
.welcome {
  color: #000000;
  text-align: left;
  font: 500 32px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 193px);
  top: 783px;
}
.all-you {
  color: #000000;
  text-align: left;
  font: 400 24px "Poppins", sans-serif;
  position: absolute;
  left: 130px;
  top: 3003px;
}
.About {
  color: #000000;
  text-align: left;
  font: 400 24px "Poppins", sans-serif;
  position: absolute;
  left: 607px;
  top: 850px;
}
.cakes-for {
  color: #000000;
  text-align: left;
  font: 700 32px "Poppins", sans-serif;
  position: absolute;
  left: 130px;
  top: 2948px;
}
.Aboutimg{
  width: 400px;
  height: 312.51px;
  position: absolute;
  left: 144px;
  top: 951px;
}
.About1 {
  color: #000000;
  text-align: left;
  font: 400 24px "Poppins", sans-serif;
  position: absolute;
  left: 607px;
  top: 1176px;
}
.rectangle-8 {
  background: #f78da7;
  width: 1200px;
  height: 160px;
  position: absolute;
  left: 120px;
  top: 3902px;
}
._24-hrs-support-1 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 989px;
  top: 3932px;
}
.fresh-cakes-1 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 563px;
  top: 3932px;
}
._2-hrs-delivery-1 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 128px;
  top: 3502px;
}
.delivery-within-2-hrs {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 222px;
  top: 3947px;
}
.guaranteed-delivery-on-time {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 222px;
  top: 3989px;
}
._100-freshly-baked {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 661px;
  top: 3947px;
}
.deliver-only-high-quality-cakes {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 661px;
  top: 3989px;
}
.customer-service {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 1085px;
  top: 3947px;
}
.contact-us-at-anytime {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 1085px;
  top: 3989px;
}
.ordering-your-delicious-cake-has-been-made-simpler-online {
  color: #000000;
  text-align: center;
  font: 700 24px "Poppins", sans-serif;
  position: absolute;
  left: 224px;
  top: 4122px;
}
.order {
  color: #000000;
  text-align: center;
  font: 400 17px "Poppins", sans-serif;
  position: absolute;
  left: 144px;
  top: 4234px;
}
.order1{
  color: #000000;
  text-align: center;
  font: 400 17px "Poppins", sans-serif;
  position: absolute;
  left: 174px;
  top: 4379px;
}
.surprise-cake{
  border-radius: 5px;
  width: 450px;
  height: 315.79px;
  position: absolute;
  left: 832px;
  top: 4128px;
}
.rectangle-9 {
  background: #ffffff;
  border-radius: 5px;
  width: 702px;
  height: 231px;
  position: absolute;
  left: calc(50% - 351px);
  top: 4505px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.uncovering{
  color: #000000;
  text-align: center;
  font: 700 32px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 322px);
  top: 4514px;
}
.safe-hygiene {
  width: 130px;
  height: 130px;
  position: absolute;
  left: 574px;
  top: 4586px;
}
._100-secured-payment {
  width: 130px;
  height: 130px;
  position: absolute;
  left: 421px;
  top: 4586px;
}
.no-harmful-ingredients {
  width: 130px;
  height: 130px;
  position: absolute;
  left: calc(50% - -7px);
  top: 4586px;
}
.no-preservative {
  width: 130px;
  height: 130px;
  position: absolute;
  left: 880px;
  top: 4586px;
}
.baked {
  color: #000000;
  text-align: center;
  font: 700 24px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 102px);
  top: 4821px;
}
.how-we-bake{
  color: #000000;
  text-align: center;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 154px);
  top: 4866px;
}
.cake-online {
  width: 581px;
  height: 604px;
  position: absolute;
  left: calc(50% - 291px);
  top: 4914px;
}
.ingredients-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 192px;
  top: 4939px;
}
.cook-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 1041px;
  top: 4939px;
}
.filling-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 202px;
  top: 5250px;
}
.cake-is-ready-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 1041px;
  top: 5250px;
}
.gallery {
  color: #000000;
  text-align: center;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: 948px;
  top: 54px;
}
.birthday-cakes {
  border-radius: 5px;
  width: 350px;
  height: 218.75px;
  position: absolute;
  left: 120px;
  top: 3074px;
}
.wedding-cakes {
  border-radius: 5px;
  width: 350px;
  height: 218.75px;
  position: absolute;
  left: calc(50% - 175px);
  top: 3074px;
}
.customized-cake {
  border-radius: 5px;
  width: 350px;
  height: 218.75px;
  position: absolute;
  left: 968px;
  top: 3074px;
}
.customers {
  color: #000000;
  text-align: left;
  font: 700 32px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 358px);
  top: 5582px;
}
.rectangle-11 {
  background: #d9d9d9;
  width: 1440px;
  height: 381px;
  position: absolute;
  left: calc(50% - 720px);
  top: 6159px;
}
.rectangle-10 {
  background: #fbdf02;
  width: 429px;
  height: 394px;
  position: absolute;
  left: 146px;
  top: 6098px;
	border-radius:20px;
}
.quick-links {
  color: #000000;
  text-align: left;
  font: 700 24px "Poppins", sans-serif;
  position: absolute;
  left: 632px;
  top: 6189px;
}
.copyright {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 168px);
  top: 6552px;
}
.home2 {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 632px;
  top: 6242px;
}
.about-us3 {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 632px;
  top: 6291px;
}
.cakes2 {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 632px;
  top: 6339px;
}
.testimonial2 {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 632px;
  top: 6388px;
}
.gallery2 {
  color: #000000;
  text-align: center;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 632px;
  top: 6442px;
}
.rectangle-12 {
  background: #c34b4d;
  border-radius: 3px;
  width: 158px;
  height: 52px;
  position: absolute;
  left: 607px;
  top: 1315px;
}
.read-more {
  color: #ffffff;
  text-align: left;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: 619px;
  top: 1323px;
}
.connect-with-us {
  color: #000000;
  text-align: left;
  font: 700 24px "Poppins", sans-serif;
  position: absolute;
  left: 1055px;
  top: 6189px;
}
.information {
  color: #000000;
  text-align: left;
  font: 700 24px "Poppins", sans-serif;
  position: absolute;
  left: 834px;
  top: 6189px;
}
.fa-qs {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 834px;
  top: 6242px;
}
.privacy-policy {
  color: #000000;
  text-align: center;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 834px;
  top: 6291px;
}
.terms-conditions {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 834px;
  top: 6339px;
}
.contact-us2 {
  color: #000000;
  text-align: center;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 834px;
  top: 6388px;
}
.celebrate-special-occasions {
  color: #000000;
  text-align: left;
  font: 700 32px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 236px);
  top: 3351.5px;
}
.birthday-web-1 {
  border-radius: 10px;
  width: 555px;
  height: 367.55px;
  position: absolute;
  left: 137px;
  top: 3427px;
}
.anniversary-web-1 {
  border-radius: 10px;
  width: 555px;
  height: 367.55px;
  position: absolute;
  left: 750px;
  top: 3427px;
}
.rectangle-17 {
  background: #d9d9d9;
  border-radius: 5px;
  width: 387px;
  height: 332px;
  position: absolute;
  left: 120px;
  top: 5659px;
}
.rectangle-18 {
  background: #d9d9d9;
  border-radius: 5px;
  width: 386px;
  height: 332px;
  position: absolute;
  left: 526px;
  top: 5659px;
}
.rectangle-19 {
  background: #d9d9d9;
  border-radius: 5px;
  width: 386px;
  height: 332px;
  position: absolute;
  left: 931px;
  top: 5659px;
}
.birthday {
  color: #000000;
  text-align: left;
  font: 500 32px "Poppins", sans-serif;
  position: absolute;
  left: 346px;
  top: 3807px;
}
.anniversary {
  color: #000000;
  text-align: left;
  font: 500 32px "Poppins", sans-serif;
  position: absolute;
  left: 931px;
  top: 3807px;
}
.logo-1 {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 160px;
  top: 6094px;
}
.rectangle-48 {
  background: #c34b4d;
  border-radius: 5px;
  width: 184px;
  height: 60px;
  position: absolute;
  left: calc(50% - 92px);
  top: 2786px;
}
.shop-n-ow {
  color: #ffffff;
  text-align: left;
  font: 700 24px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 63px);
  top: 2798px;
}
.rectangle-42 {
  background: #d9d9d9;
  border-radius: 10px;
  width: 381px;
  height: 440px;
  position: absolute;
  left: 124px;
  top: 2305px;
}
.rectangle-43 {
  background: #d9d9d9;
  border-radius: 10px;
  width: 381px;
  height: 440px;
  position: absolute;
  left: 526px;
  top: 2305px;
}
.rectangle-44 {
  background: #d9d9d9;
  border-radius: 10px;
  width: 381px;
  height: 440px;
  position: absolute;
  left: 934px;
  top: 2305px;
}
.cakes1 {
  border-radius: 10px 10px 0px 0px;
  width: 381px;
  height: 381px;
  position: absolute;
  left: 934px;
  top: 2305px;
}
.artistic-chocolate {
  border-radius: 10px 10px 0px 0px;
  width: 381px;
  height: 381px;
  position: absolute;
  left: 124px;
  top: 2305px;
}
.cakes2 {
  border-radius: 10px 10px 0px 0px;
  width: 381px;
  height: 381px;
  position: absolute;
  left: 526px;
  top: 2305px;
}
.butterscotch-bliss-cake {
  color: #000000;
  text-align: center;
  font: 500 20px "Poppins", sans-serif;
  position: absolute;
  left: 598px;
  top: 2700px;
}
.indulgent-chocolate-cake {
  color: #000000;
  text-align: center;
  font: 500 20px "Poppins", sans-serif;
  position: absolute;
  left: 182px;
  top: 2700px;
}
.choco-vanilla-black-forest-cake {
  color: #000000;
  text-align: center;
  font: 500 20px "Poppins", sans-serif;
  position: absolute;
  left: 959px;
  top: 2700px;
}
._1-ingredients {
  color: #000000;
  text-align: center;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: 192px;
  top: 5051px;
}
._3-cooking {
  color: #000000;
  text-align: center;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: 1041px;
  top: 5051px;
}
._2-filling {
  color: #000000;
  text-align: center;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: 206px;
  top: 5365px;
}
._4-the-cake-is-ready {
  color: #000000;
  text-align: center;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: 1041px;
  top: 5365px;
}
.logo-2 {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 120px;
  top: -46px;
}
.birthday1 {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 130px;
  top: 5728px;
}
.client2 {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 535px;
  top: 5773px;
}
.client3 {
  color: #000000;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 942px;
  top: 5758px;
}
.vector {
  position: absolute;
  left: 1057px;
  top: 6237px;
  overflow: visible;
}
.vector2 {
  position: absolute;
  left: 1099.84px;
  top: 6237px;
  overflow: visible;
}
.vector3 {
  position: absolute;
  left: 1165.84px;
  top: 6237px;
  overflow: visible;
}
.vector4 {
  position: absolute;
  left: 1223.84px;
  top: 6237px;
  overflow: visible;
}
.desktop-01-1 {
  width: 1440px;
  height: 540px;
  position: absolute;
  left: calc(50% - 720px);
  top: 151px;
}
._2-hrs-delivery-2 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 129px;
  top: 3942px;
}
