@charset "utf-8";
/* CSS Document */


.container{
	display: flex;
	flex-direction: row;
	justify-content:evenly;
}

.img{
	width: 100%;
	height: auto;
	padding: 30px;
	display: block;
}

.sec{
       float: left;
       width: 20%;
       padding: 15px;
       box-sizing: border-box;
	   margin: 0px 0px 0px 60px;
    }
    .sec img{
       width: 100%;
	border-radius: 10px;
    }

.text h2{
	text-align: center;
	font-family: "Poppins Medium", "Poppins SemiBold", Poppins;
	font-weight: bold;
	font-size: 30px;
	
	}

